<div class="root-container">
  <LiveBlogExWeb.Components.nav_bar />
</div>
<div class="root-container">
  <%= @inner_content %>
</div>
<div class="root-container">
  <LiveBlogExWeb.Components.footer />
</div>
